<div class="main-content pad-main-content-on">
  <la-account-header (postChanges)="postChanges()"></la-account-header>
  <la-header-menu></la-header-menu>
  <div class="row">
    <div class="col-md-12 ">
      <form [formGroup]="form">
        <la-component-header [title]="'Child Component #2'" [form]="form" [isEditable]="editMode" (onSave)="save()" (toggleEdit)="toggleEditMode($event)">
        </la-component-header>
        <la-error-message [errorList]="errorsFromServer"></la-error-message>
        <div class="row well white-well">
          <div class="col-md-6">
            <la-field [label]="'Name 1'" [editMode]="editMode" formControlName="name1"></la-field>
          </div>
          <div class="col-md-6">
            <la-field [label]="'Name 2'" [editMode]="editMode" formControlName="name2"></la-field>
          </div>
          <div class="col-md-6">
            <la-field [label]="'Name 3'" [editMode]="editMode" formControlName="name3"></la-field>
          </div>
          <div class="col-md-6">
            <la-list [label]="'Account Type'" [editMode]="editMode" [choices]="child2.accountTypeList" [parentFormGroup]="form"
              formControlName="accountType" [includeEmptyChoice]="true"></la-list>
          </div>
          <div class="col-md-6">
            <la-field [type]="'number'" [label]="'Rate'" [editMode]="editMode"
              formControlName="rate" [numberFormat]="'1.2-2'">
            </la-field>
          </div>
        </div>

        <h3>Contact Information</h3>
        <div class="row well white-well">
          <div class="col-md-4">
            <la-field [label]="'Contact Name'" [editMode]="editMode" formControlName="contactName"></la-field>
          </div>
          <div class="col-xs-3">
            <la-field class="truncate-label" [label]="'Area Code'" [editMode]="editMode" formControlName="contactPhoneAreaCode"
              [mask]="'999'"></la-field>
          </div>
          <div class="col-xs-5">
            <la-field [label]="'Phone'" [editMode]="editMode" formControlName="contactPhoneNumber" [mask]="'999-9999'"></la-field>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<la-transaction-confirm-dialog></la-transaction-confirm-dialog>
