@import '../../../../scss/colors';
@import '../../../../scss/mixins';
/* nav.dev-env {
    background-color: green;
}
nav.test-env {
    background-color: goldenrod;
} */
.navbar {
    min-height: 60px !important;
    max-height: 60px;
    z-index: 1001;
    background-color: #004059;
    border: none;

    min-width: 768px;
}
.navbar-brand {
    margin-left: 0 !important;
    margin-right: 50px;
    padding: 0;
    line-height: 48px;
}
.navbar-brand img {
     height: 44px; 
    /* width: 135px; */
    display: inline;
    /* padding-right: 15px;
    margin-right: 15px; */
    border-right: 1px solid rgb(44, 133, 169);
    padding-left: 10px;
    padding-right: 30px;
    margin-top: 5px;
}
.navbar-brand img + span {
    padding-left: 10px;
}
.fa, .glyphicon, li {
    color: #f5f5f5;
    font-size: 1em;
    cursor: pointer;
}
li button {
    padding: 15px;
    color: #000;
}
/*.fa:hover, .glyphicon:hover {
  background: #fff;
  color: #000;
}*/
.nav > li > a {
    padding: 20px;
}
.nav > li > a:hover, .nav > li > a:active {
    color: #fff;
}
.headerSearch {
    padding-top: 10px;
}
.closeSearch {
    margin-top: 5px;
}
.closeSearch a {
    padding-bottom: 35px !important;
}

.font-light {
    font-weight: 100;
}

.page-title {
    @include font-page-title();
    position: relative;
    top: 7px;
    letter-spacing: .25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fa-user {
    margin-right: 4px;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link {
            @include link-logout();
}

header > nav > ul > li {
    position: fixed;
    top: 0;
    right: 0;
}

div.navbar-header > button {
    display: none !important;
}