<div [ngClass]="{'form-inline': direction==='horizontal'}">
    <div [ngClass]="{'form-group': direction==='horizontal'}">
        <div class="form-group">
            <label *ngIf="editMode && label">{{label}}</label>
            <p *ngIf="!editMode" class="label">{{label}}</p>
            <p *ngIf="!editMode"
                [attr.title]="needTooltipForChoppedOffValue() ? showSelectedValue() : tooltipToShow()"
                [ngClass]="{'inline-header': direction==='horizontal'}" class="readOnly">
                {{showSelectedValue()}}
            </p>
            <span *ngIf="ngControl && parentFormGroup" [hidden]="!editMode" [formGroup]="parentFormGroup">
                <select *ngIf="type=='dropdown'" class="form-control" (change)="updateValue($event)"
                    [attr.title]="tooltipToShow()"
                    formControlName="{{ngControl.name}}"
                    [laHideIfUnauthorized]="laHideIfUnauthorized">
                    <option *ngFor="let choice of listChoices" [value]="choice.value">
                        {{choice.label}}
                    </option>
                </select>
                <p-listbox *ngIf="type=='listbox'" [options]="listChoices" [filter]="filter"
                        (onChange)="updatePrimeNGValue($event)"
                        [attr.title]="tooltipToShow()" tooltipPosition="left"
                        formControlName="{{ngControl.name}}"
                        [laHideIfUnauthorized]="laHideIfUnauthorized">
                </p-listbox>
                <p-listbox *ngIf="type=='multiselect'" [options]="listChoices" [filter]="filter"
                        multiple="multiple" checkbox="checkbox"
                        [attr.title]="tooltipToShow()" tooltipPosition="left"
                        (onChange)="updatePrimeNGValue($event)"
                        formControlName="{{ngControl.name}}"
                        [laHideIfUnauthorized]="laHideIfUnauthorized">
                </p-listbox>
            </span>
            <div *ngIf="ngControl" [hidden]="!ngControl.errors"
                 [ngClass]="{'text-danger': ngControl.invalid || readOnlyWithValidation, 'text-info': ngControl.disabled}">
                <div *ngFor="let error of ngControl.errors | displayError">
                    {{error}}
                </div>
            </div>
        </div>
    </div>
</div>