@import '../../scss/colors';
@import '../../scss/mixins';

.tile-container {
    flex-direction: column;
}
.tile {
    width: 100%;
    //height: 50%;
    flex-direction: row;
    padding-top: 20px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .overflow {
        overflow: hidden;
        margin: 15px 0;
        img {
            height: auto;
            width: 100%;
        }
        
    }
}

@media (min-width: 992px) {
    .overflow {
        overflow: hidden;
        margin: 15px 0;
        img {
            height: 100%;
            width: auto;
        }
        
    }
}

.header {
    @include font-h();
    margin-left: 8px;
}

a {
    &:hover {
        text-decoration: none;
    }
}
.well {
    background: #e9e9e9, !important;
    border-radius: 0 !important;
    position: relative;
    float: left;
    width: 100%;
    margin: 15px 0;
    border: 1px solid #e5e5e5;
}
h6, .h6{
    font-family: Tahoma, Helvetica, Arial, sans-serif !important;
    font-size: 15px;
    font-weight: bold;
}