<div class="row">
  <div class="col-md-12">
    <div class="pull-right" [laHideIfUnauthorized]="updatePermission">
      <button *ngIf="isEditable" class="btn btn-primary save-button"
              [disabled]="customInvalid || formInvalid()" (click)="save()"><i class="fa fa-save"></i>&nbsp;Save</button>
    </div>
    <div class="pull-right" [laHideIfUnauthorized]="updatePermission">
      <button class="btn btn-default" (click)="toggle()" 
              [disabled]="isEditDisabled()">
        <i class="fa" [ngClass]="{'fa-undo': isEditable, 'fa-pencil': !isEditable}"
           [title]="isEditable ? 'Undo' : 'Edit'"></i>
        <span>{{isEditable ? 'Undo' : 'Edit'}}</span>
      </button>
    </div>
    <div *ngIf="title" class="header"><h2>{{title}}</h2></div>
  </div>
</div>
